name: "Build Android .apk/.aab"

on:
  workflow_dispatch:

jobs:
  build:
    name: Build & Release
    runs-on: ubuntu-latest

    steps:
        #1 Checkout repository
      - name: Checkout Repository
        uses: actions/checkout@v5

        #2 setup java
      - name: Set Up Java
        uses: actions/setup-java@v3.12.0
        with:
          distribution: 'oracle'
          java-version: '11'

        #3 setup Flutter
      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.35.5'
          channel: 'stable'

        #4 install dependencies
      - name: Install Dependencies
        run: flutter pub get

        #5 run test
      # - name: Test flutter app
      #   run: flutter test

        #6 build apk
      - name: Build APK
        run: flutter build apk --release

        #7 build aab
      - name: Build appBundle
        run: flutter build appbundle
        
        #10 get those build to be available to download
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: Releases
          path: |
            build/*.apk
            build/*.aab
